/* Color Theme Swatches in Hex */
.black {
	background-color: #1c2226;
}
.grey {
	background-color: #8d9ca6;
}
.yellow1 {
	background-color: #f2d541;
}
.yellow2 {
	background-color: #f2cb57;
}
.orange {
	background-color: #d98f07;
}

/* General */

a {
	text-decoration: none;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

/* Body */
body {
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	padding: 0;
	margin: 0;
	min-height: 100vh;
	display: flex;
	flex-direction: column;

	justify-content: space-between;
	width: 100%;
}

/* Header */

.header {
	width: 100%;
	border-bottom: 2px solid #1c2226;
}

.header ul {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}
.header a {
	height: 3rem;
	min-height: 8vh;
	padding: 0 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.header a:hover {
	font: bold;
	color: #1c2226;
	cursor: pointer;
	background-color: #f2cb57;
}

/* Footer */
footer {
	width: 100%;
	display: inline-block;
	color: #12171b;
	border-top: 2px solid #1c2226;
}
footer div {
	height: 3rem;
	min-height: 7vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

/* Main Contact */

.contact {
	display: grid;
	grid-template-rows: auto 1fr;
	justify-content: center;
	align-items: center;
}

.contact h1 {
	font-size: 40px;
	text-align: center;

	color: #d98f07;
}
.contact_div {
	width: 100%;
	max-width: 460px;
}
.contact_div form {
	display: flex;
	flex-direction: column;
	padding: 1.5rem 2rem;
	color: #1c2226;
}

.contact_div input {
	width: 100%;
	margin: 0.5rem 0;
}

.contact_div #radio_buttons {
	display: flex;
	justify-content: space-around;
}

.contact_div #button {
	margin-top: 0.5rem;
	display: flex;
	justify-content: center;
}

.contact_div #button > button {
	width: 100%;
	max-width: 5rem;
	background-color: #f2d541;
}

.contact_div #button > button:hover {
	font: bold;
	color: #1c2226;
	cursor: pointer;
	background-color: #f2cb57;
}

/* Index */

.index {
	margin: 0;
	min-height: 85vh;
	display: flex;
	flex-direction: column;
}

@media (min-width: 600px) {
	.index {
		display: flex;
		flex-direction: row;
	}
}

/* Aside */
.index aside {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0.5rem;
	border-bottom: 2px solid #1c2226;
}

.index aside img {
	width: 100px;
	border: 2px solid #12171b;
	border-radius: 50%;
}

.index article {
	font-style: italic;
	font-size: medium;
	font-weight: 300;
}

@media (min-width: 600px) {
	.index aside {
		max-width: 200px;
		display: flex;
		flex-direction: column;
		padding: 1rem;
		border-right: 2px solid #1c2226;
	}

	.index aside img {
		width: 120px;
	}
}
@media (min-width: 900px) {
	.index aside {
		max-width: 270px;
		padding: 2rem;
	}

	.index aside img {
		width: 150px;
	}
}

/* Main Section */
.grid_section {
	width: 100%;
	display: grid;
	grid-template-rows: auto, 1fr;
}

.grid_section li {
	display: grid;
	grid-template-rows: 1fr 2fr;
}

.grid_section li > div {
	justify-self: center;
	align-self: center;
}

.grid_section ul {
	display: grid;
	grid-template-rows: repeat(3, 1fr);
}

.grid_section h1 {
	text-align: center;
}

@media (min-width: 790px) {
	.grid_section li {
		display: grid;
		grid-template-rows: 1fr;
		grid-template-columns: 1fr 2fr;
	}
	.grid_section li > div:first-child {
		padding: 0 1rem;
		justify-self: right;
		align-self: center;
	}

	.grid_section li > div:last-child {
		padding: 0 1rem;
		justify-self: left;
		align-self: center;
	}
}

/** Images in Main **/
.img-square {
	width: 60px;
	height: 60px;
}

.img-rectangle {
	width: 120px;
	height: 60px;
}

.img-rectangle-large {
	width: 140px;
	height: 35px;
}
